@tailwind base;
@tailwind components;
@tailwind trility;

/** width */
.width-200vw {
  width: 200vw;
}
.width-150vw {
  width: 150vw;
}
.width-100vw {
  width: 100vw;
}
.width-90vw {
  width: 90vw;
}
.width-80vw {
  width: 80vw;
}
.width-70vw {
  width: 70vw;
}
.width-60vw {
  width: 60vw;
}
.width-50vw {
  width: 50vw;
}
.width-40vw {
  width: 40vw;
}
.width-30vw {
  width: 30vw;
}
.width-20vw {
  width: 20vw;
}
.width-10vw {
  width: 10vw;
}

/** height */
.height-200vh {
  height: 200vh;
}
.height-150vh {
  height: 150vh;
}
.height-100vh {
  height: 100vh;
}
.height-90vh {
  height: 90vh;
}
.height-80vh {
  height: 80vh;
}
.height-70vh {
  height: 70vh;
}
.height-60vh {
  height: 60vh;
}
.height-50vh {
  height: 50vh;
}
.height-40vh {
  height: 40vh;
}
.height-30vh {
  height: 30vh;
}
.height-20vh {
  height: 20vh;
}
.height-10vh {
  height: 10vh;
}

/** rotate */
.rotate-90 {
  transform: rotate(90deg);
}
