@tailwind base;
@tailwind components;
@tailwind trility;

.backgroundImage {
  background-image: url("/img/—Pngtree—pure-watercolor-gradient-colorful-background_964413.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
